**ASSIGNMENT NO.1**

**1. In the below elements which of them are values or an expression? eg:- values an be in teger or string and expressions will be mathematical operators.
'hello' , -87.8 , - , / , + , 6**

ANS - a.'hello' = This is string elment, as it's enclosed in single quotes.

b. -87.8 = This is Float element .

c. (- , / , + ) = This are types of operators.

d. 6 = This is integer value, integer can hold value as whole number.

**2. What is the difference between string and variable?** 

ANS -  

String is series of characters, enclosed between quotes. Ex. "Hello", "548" , "5+6J"

Variable is used to store/hold any type of  information such as strings, integers , floats, sets , lists, tupples, etc. Ex. a = "AKSHAY" , b = 56 , c = (5,6,7,8)

**3. Describe three different data types.**

ANS - a.String = A string is series of characters enlcosed in quotation. Ex. "Hello", "My name is Akshay", "8956" , etc.

b.integer = it is use to store the in the form of numerical values only. Ex. 54,65,98 etc.

c.List = A list is type of data which can hold/store various items.The lis is enclosed with the help of [ ] and items in the list is separated by (,). Ex. ["Akshay", 45, 89.36, 5+6j , True ]

**4. What is an expression made up of? What do all expressions do?**

ANS - Expression is made up with the combination of variables, values operators, etc.
Expression is need to be evaluated. Ex. a-b-5

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

ANS - Here, spam = 10 is declaration. It is declared that the value of spam is assigned as 10. And if we print spam it will give 10 , hence it's a declaration.

If we wish to perform any operations such as spam*spam , spam + 10, spam+spam, etc., then it will become as expression.

**6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1**

In [ ]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be?
'spam' + 'spamspam' 
'spam' * 3**

In [ ]:
"spam" + "spamspam"

'spamspamspam'

In [ ]:
"spam"*3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

ANS - A variable in python must start with a letter or underscore. as eggs is starts with letter "e" it is valid and 100 is not a letter so it becomes invalid as variable.

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

ANS - str() - used to convert into string

int() - used to convert into integer

float() - used to convert into floating-point

**10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'**

ANS - As in the given example 99 is given as an integer and integer cannot be concanated with the string , so we need to do typecasting to get the ans.

In [13]:
a = "I have eaten "
b =  str(99)

c = " burritos "
a+b+c

'I have eaten 99 burritos '