**1. What exactly is [ ]?**  
ANS - This is empty list. which means a list which contains no items. it is similar as empty string " ".

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**  
ANS -

In [ ]:
spam = [2,4,6,8,10]
print(spam)

[2, 4, 6, 8, 10]

In [ ]:
spam.insert(2,"hello")
print(spam)

[2, 4, 'hello', 'hello', 6, 8, 10]

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

In [ ]:
spam = ['a', 'b', 'c', 'd']

**3. What is the value of spam[int(int('3' * 2) / 11)]?**  
ANS -

In [ ]:
print(spam[int(int(3*2/11))])

a

**4. What is the value of spam[-1]?**  
ANS -

In [ ]:
spam[-1]

'd'

**5. What is the value of spam[:2]?**  
ANS -

In [ ]:
spam[:2]

['a', 'b']

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

In [ ]:
bacon = [3.14,"cat",11,"cat",True]

**6. What is the value of bacon.index('cat')?**  
ANS -

In [ ]:
bacon.index("cat")

1

**7. How does bacon.append(99) change the look of the list value in bacon?**  
ANS -

In [ ]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

**8. How does bacon.remove('cat') change the look of the list in bacon?**  
ANS -

In [ ]:
bacon.remove("cat")
print(bacon)

[3.14, 11, 'cat', True, 99]

**9. What are the list concatenation and list replication operators?**  
ANS - For list concatenation "+" operator is use. Which helps to join two lists end to end.
For list replication "*" operator is used.
Examples of concatenation and replication are as below -

In [ ]:
#Concatenation
l1 = [2,65,96,"ROFL", "LOL"]
l2 = [56,89,True,"Batman"]
print(l1+l2)

[2, 65, 96, 'ROFL', 'LOL', 56, 89, True, 'Batman']

In [ ]:
#replication
l1*3

[2, 65, 96, 'ROFL', 'LOL', 2, 65, 96, 'ROFL', 'LOL', 2, 65, 96, 'ROFL', 'LOL']

**10. What is difference between the list methods append() and insert()?**  
ANS - With the help of append() we can insert values at the end of the list. While with the help of insert() we can insert values at any position.
Examples are as follows-

In [ ]:
l2.append("Superman")
print(l2)

[56, 89, True, 'Batman', 'Superman']

In [ ]:
l2.insert(3,"Ironman")

In [ ]:
print(l2)

[56, 89, True, 'Ironman', 'Batman', 'Superman']

**11. What are the two methods for removing items from a list?**  
ANS - Two methods to remove items from list are remove() and pop().
Following are the examples -

In [ ]:
a =[35,"Robin", True, 35+89j,56,]
print(a)
a.remove(True)
print(a)
a.pop(2)
print(a)

[35, 'Robin', True, (35+89j), 56]
[35, 'Robin', (35+89j), 56]
[35, 'Robin', 56]

**12. Describe how list values and string values are identical.**  
ANS - Following are some of the reasons why list and string values are identical -  
1.Both values have indexes.
2.We can perform slicing on both values
3.Both values can passed to len() function. 
4.We can perform concatenation and replication on both the values.

**13. What's the difference between tuples and lists?**  
ANS - List are mutable i.e. we can add, remove or change the values in the lists. While tuples are imutable i.e. they cannot be changed at all. Lists are written using [ ] and tuples are written usinf ( ).

**14. How do you type a tuple value that only contains the integer 42?**  
ANS -

In [ ]:
(42,)

(42,)

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**  
ANS -

In [ ]:
l =[45,69,63,"Joker"]
print(l)
t = tuple(l)
print(t)

t = (89,63,78,"Riddler")
print(t)
l = list(t)
print(l)

[45, 69, 63, 'Joker']
(45, 69, 63, 'Joker')
(89, 63, 78, 'Riddler')
[89, 63, 78, 'Riddler']

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**  
ANS - They contain references to the values of list.

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**  
ANS -

In [1]:
# copy.copy() will do the shallow copy of list.
l1 = [1,2,3,4]
l2 = l1.copy()

In [2]:
l2

[1, 2, 3, 4]

In [3]:
#if we change any item in l2, l1 will not chnage in this case.
l2[1] = 254

In [4]:
l1,l2

([1, 2, 3, 4], [1, 254, 3, 4])

In [5]:
# copy.copy() functon will not work in case of nested list
l1 = [[1,2,3,4], [5,6,7,8]]
l2 = l1.copy()

In [7]:
l1,l2

([[1, 2, 3, 4], [5, 6, 7, 8]], [[1, 2, 3, 4], [5, 6, 7, 8]])

In [8]:
l2[1][2] = 100

In [9]:
#as we can see the value assigned by us in l2 is also changed in l1.
l1,l2

([[1, 2, 3, 4], [5, 6, 100, 8]], [[1, 2, 3, 4], [5, 6, 100, 8]])

In [12]:
#For nested list we need to use copy.deepcopy() function. 
import copy 
l1 = [[1,2,3,4],[5,6,7,8]]
l2 = copy.deepcopy(l1)
l1,l2

([[1, 2, 3, 4], [5, 6, 7, 8]], [[1, 2, 3, 4], [5, 6, 7, 8]])

In [13]:
l2[1][2] = 100

In [14]:
l1,l2

([[1, 2, 3, 4], [5, 6, 7, 8]], [[1, 2, 3, 4], [5, 6, 100, 8]])

In [15]:
#in copy.deepcopy() every changes we do it makes separate memory location which is not in the case of copy.copy().